## Pegando e Tratando os Dados

In [1]:
# imports
import pandas as pd
import numpy as np
import seaborn as sns
import statistics  as sts
import matplotlib.pyplot as plt

In [ ]:
%%time
df = pd.read_csv("microdados_enem_2019/DADOS/MICRODADOS_ENEM_2019.csv", encoding='ISO-8859–1', sep = ';')
#df = pd.read_csv("microdados_enem_2019/DADOS/MICRODADOS_ENEM_2019.csv")

In [19]:
%%time
df = df.drop(columns=['NU_INSCRICAO', 'NU_ANO'])

KeyError: "['NU_INSCRICAO' 'NU_ANO'] not found in axis"

In [20]:
%%time
df.head()

Wall time: 496 µs

,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_MUNICIPIO_NASCIMENTO,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,3552205,Sorocaba,35,SP,36.0,M,1,3,1,2914802.0,...,A,A,A,A,A,A,C,A,C,B
1,2910800,Feira de Santana,29,BA,23.0,M,1,1,1,2910800.0,...,A,A,A,B,A,A,E,A,A,B
2,2304400,Fortaleza,23,CE,39.0,F,1,3,1,2304400.0,...,A,A,A,B,A,A,C,A,A,B
3,1721000,Palmas,17,TO,25.0,F,1,1,1,1721000.0,...,A,A,A,C,A,B,D,A,B,B
4,3118601,Contagem,31,MG,22.0,F,1,1,1,3118601.0,...,B,A,A,B,A,A,C,B,B,B

In [21]:
def show_info(data):
    print('DATASET SHAPE: ', data.shape, '\n')
    print('-'*50)
    print('FEATURE DATA TYPES:')
    print(data.info())
    print('\n', '-'*50)
    print('NUMBER OF UNIQUE VALUES PER FEATURE:', '\n')
    print(data.nunique())
    print('\n', '-'*50)
    print('NULL VALUES PER FEATURE')
    print(data.isnull().sum())
  
show_info(df)

DATASET SHAPE:  (5095270, 134)

--------------------------------------------------
FEATURE DATA TYPES:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5095270 entries, 0 to 5095269
Columns: 134 entries, CO_MUNICIPIO_RESIDENCIA to Q025
dtypes: float64(25), int64(68), object(41)
memory usage: 5.1+ GB
None

 --------------------------------------------------
NUMBER OF UNIQUE VALUES PER FEATURE:

CO_MUNICIPIO_RESIDENCIA    5570
NO_MUNICIPIO_RESIDENCIA    5299
CO_UF_RESIDENCIA             27
SG_UF_RESIDENCIA             27
NU_IDADE                     82
                           ...
Q021                          2
Q022                          5
Q023                          2
Q024                          5
Q025                          2
Length: 134, dtype: int64

 --------------------------------------------------
NULL VALUES PER FEATURE
CO_MUNICIPIO_RESIDENCIA     0
NO_MUNICIPIO_RESIDENCIA     0
CO_UF_RESIDENCIA            0
SG_UF_RESIDENCIA            0
NU_IDADE                   69
                           ..
Q021                        0
Q022                        0
Q023                        0
Q024                        0
Q025                        0
Length: 134, dtype: int64